# Byte-compiled / optimized / DLL files
__pycache__/
*/__pycache__/ 
HTR_model/
.ipynb_checkpoints/
wandb/

*.jpg
*.png
*.jpeg
 
*.csv
*.json
*.xml
*.pickle
*.pkl
*.txt
*.pt
*.pth
*.log
*.wandb
*.yaml
 
*.ipynb

data/*



