# Byte-compiled / optimized / DLL files
__pycache__/
*/__pycache__/ 
*/ipynb_checkpoints/
*/wandb/

*.jpg
*.png
*.jpeg
 
*.csv
*.json
*.xml
*.pickle
*.txt
*.pt
*.pth
*.log
*.wandb
*.yaml
 
*.ipynb

data/*



